:root {
  --primary-color: #fff;
  --secondary-color: #7db1e2;
  --secondary-back-color: #dadde2;
  --header-color: #000;
  --link-color: #357b70;
  --primary-font: Arial, serif;
  --input-font: system-ui;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-body: 16px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-hover: 20px;
  --navigation-font-size: 20px;
}

* {
  box-sizing: border-box;
  margin: auto;
}

body {
  background-color: #fff;
  font-family: var(--primary-font);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: 1.6;
  text-align: center;
  flex-direction: column;
  margin: auto;
}

.pokemon-button {
  background-color: #4caf50;
  /* Green */
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  width: 90%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  text-transform: uppercase;
}

button:hover,
button:focus,
.pokemon-button:hover,
.pokemon-button:focus {
  cursor: pointer;
  opacity: 0.8;
  font-size: var(--font-size-h3);
  background-color: orange;
}

ul {
  border: 2px solid #000;
  margin: 0% 20%;
  padding: 0;
  background-color: var(--secondary-color);
}

li {
  list-style-type: none;
}

.tittle {
  margin-top: 30%;
}