* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: 'Sedgwick Ave Display', cursive;
  line-height: 1.6;
  text-align: center;
  flex-direction: column;
  color: #fff;
  margin: auto;
  background-image: url('../images/backround.jpg');
  background-size: 100%;
  background-repeat: repeat;
}

ul {
  border: 2px solid #000;
  margin: 0% 20%;
  padding: 0;
}

li {
  list-style-type: none;
}

button:hover,
button:focus,
.pokemon-button:hover,
.pokemon-button:focus {
  opacity: 0.9;
  font-size: 20px;
  background-color: #CC0000;
  cursor: inherit;
}

/* rgb(150, 198, 152)  */
.button {
  background-color: #3B4CCA;
  /* Green */
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: 2px solid rgb(150, 198, 152);
  width: 90%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  text-transform: uppercase;
}

img {
  width: 30%;
  display: flex;
  margin: auto;
}

h1 {
  font-size: 40px;
}

#modal-container {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show it above other content */
  z-index: 999;
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 60%;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 0;
}

.modal p {
  margin-bottom: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  /* CSS for modal container - add your own desired CSS styles here */
  display: block;
}

/* cursor style */
body {
  cursor: url('data:image/x-icon; base64, AAACAAEAICAQAAAAAADoAgAAFgAAACgAAAAgAAAAQAAAAAEABAAAAAAAAAIAAAAAAAAAAAAAEAAAAAAAAAAAAAAA ////AAAA/wABAYIARURCAOKv+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAREREAAAAAAAAAAAAAAAAQREREUQAAAAAAAAAAAAABBAAERERQAAAAAAAAAAAAEEAEAAAARQAAAAAAAAAAABAAREAAAAEAAAAAAAAAAAAAAAQAzMwAAAAAAAAAAAAAAIgACIzMzMAAAAAAAAAAAAiIiIiIjMzMAAAAAAAAAACIiIiIiIjMzAAAAAAAAAAAiIiIiIiIzMwAAAAAAAAAAIiVSIiIiIzMAAAAAAAAAAAJRFSIiIiMwAAAAAAAAAAACURUiIiIjMAAAAAAAAAAAACVSIiIiIwAAAAAAAAAAAAACIiIiIjAAAAAAAAAAAAAAAAIiIiAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////////////////////////////////////////////////////////////////wP///wA///4AH//8AA//+FAH//gAB//wUAP/8AAD//AAA//wAAP/8AAD//AAA//4AAf/+AAH//wAD//+AB///wA////A/////////////w=='), auto;
}